<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.example.forestfires.dao.mapper.NearbyTreesMapper">
      <insert id="batchInsertNearbyTrees">
        insert into nearbytrees(treeid,nearbytreeid,distance,angle,slope) values
        (#{tree.treeid}, #{tree.nearbytreeid},#{tree.distance}, #{tree.angle}, #{tree.slope})
      </insert>

      <delete id="cleanNearbyTreesTable">
        delete from nearbytrees
      </delete>

      <update id="resetNearbyTreesStatus">
        update nearbytrees set nearbytree_status = 0
        where nearbytree_status != 0
      </update>

      <update id="updateNearbyTreeStatus">
          update nearbytrees set nearbytree_status = #{status} where nearbytreeid=#{nearbytreeid}
      </update>

      <select id="possibleFireTrees" resultType="com.example.forestfires.domain.po.NearByTreesPO">
          select t.treeid, t.nearbytreeid, t.distance, t.angle, t.slope, t.nearbytree_status, date_format(t.start_fire_time, '%Y-%m-%d %H:%i:%s') as nearybyStartFireTime from
          (select n.*,t.start_fire_time,t.end_fire_time from nearbytrees n inner join trees t
          on n.nearbytreeid = t.treeid and n.nearbytree_status = t.status
          where n.nearbytree_status=1) t inner join trees t2
          on t.treeid=t2.treeid
          where t2.status = 0
      </select>

    </mapper>
