<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.example.forestfires.dao.mapper.TreesMapper">
       <select id="alltrees" resultType="com.example.forestfires.domain.po.TreesPO">
         select treeid,tree_location_x,tree_location_y,treeheight,crowndiameter,
         crownarea,crownvolume,previousid,tree_location_nz,status
         from trees
       </select>

       <select id="treesInfo" resultType="com.example.forestfires.domain.po.TreesPO">
         select treeid,tree_location_x,tree_location_y,treeheight,crowndiameter,
         crownarea,crownvolume,previousid,tree_location_nz,status
         from trees
         <where>
           treeid in
            <foreach item="treeid" collection="list" separator="," open="(" close=")">
              #{treeid}
           </foreach>
         </where>
       </select>

      <select id="toBeUnfiredTrees" resultType="com.example.forestfires.domain.po.TreesPO">
          select treeid,tree_location_x,tree_location_y,treeheight,crowndiameter,
         crownarea,crownvolume,previousid,tree_location_nz,2 as status from trees
          where status = 1 and end_fire_time >= str_to_date(#{simulatedtime},'%Y%m%d %H:%i');
      </select>

      <update id="updateUnfiredTreesStatus">
        update trees set status = 2
        where status = 1 and start_fire_time + interval 40 hour >= trees.end_fire_time
      </update>

      <select id="peekPoint" resultType="hashmap">
        select (min(tree_location_x)+
               max(tree_location_x))/2 as tree_location_x,
               (min(tree_location_y)+
                max(tree_location_y))/2 as tree_location_y,
               max(crowndiameter) max_crowndiameter
        from trees
      </select>

      <update id="updateTreeStatus">
        update trees set status = #{status},start_fire_time = now(),
        end_fire_time = date_add(now(), interval crownvolume/2 hour )
        where treeid=#{treeid}
      </update>

      <update id="clearTreeStatus">
        update trees set status = 0 and start_fire_time is null and end_fire_time is null
      </update>

    </mapper>

